<div class="trip-details-page">
  <!-- <section class="trip-details">
    <dir class="caption">
      <h2 class="h1">{{ trip.name.toUpperCase() }} DETAILS</h2>
    </dir>
  </section> -->
  <!-- vh-100 d-flex justify-content-center align-items-center -->
  <main class="mb-5 mainSection">
    <div class="container-lg">
      <div class="row">
        <div class="col-md-4">
          <img [src]="trip.imgUrl" class="w-100 rounded shadow mb-5" alt="" />
          <div class="booking">
            <input
              type="text"
              class="form-control mb-3 p-4"
              placeholder="Where to"
            />
            <input
              type="text"
              class="form-control mb-3 p-4"
              placeholder="when"
            />

            <p-dropdown
              [options]="cities"
              [(ngModel)]="selectedCity"
              optionLabel="name"
              [showClear]="true"
              placeholder="Select a trip category"
            ></p-dropdown>
            <button
              class="booking-btn d-block mx-auto mt-3 fs-6 w-50 py-md-3 py-4 px-xl-3"
            >
              Book Now
            </button>
            <div class="text-center mt-3"></div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="overview mb-4">
            <h3 class="h2 mb-5">{{ trip.name }}</h3>
            <p class="text-secondary fs-5">
              {{ trip.description }}
            </p>
          </div>
          <div class="inc-exc mb-4">
            <h3 class="h2 mb-4">Include/Exclude</h3>
            <div class="row">
              <div class="col-lg-7">
                <ul class="list-unstyled fw-semibold text-black-50 mb-4">
                  @for (item of trip.include; track $index) {

                  <li class="d-flex">
                    <i class="bi bi-check-lg"></i> <span>{{ item }}</span>
                  </li>
                  <!-- <li><i class="bi bi-check-lg"></i> Pick and Drop Services</li>
                    <li><i class="bi bi-check-lg"></i> 1 Meal Per Day</li>
                    <li>
                      <i class="bi bi-check-lg"></i> Cruise Dinner & Music Event
                    </li>
                    <li>
                      <i class="bi bi-check-lg"></i> Visit 7 Best Places in the
                      City With Group
                    </li> -->
                  }
                </ul>
              </div>
              <div class="col-lg-5">
                <ul class="list-unstyled fw-semibold text-black-50">
                  @for (item of trip.exclude; track $index) {

                  <li class="d-flex">
                    <i class="bi bi-x-lg"></i> <span>{{ item }}</span>
                  </li>
                  }
                  <!-- <li><i class="bi bi-x-lg"></i> Additional Services</li>
                  <li><i class="bi bi-x-lg"></i> Insurance</li>
                  <li><i class="bi bi-x-lg"></i> Food & Drinks</li>
                  <li><i class="bi bi-x-lg"></i> Tickets</li> -->
                </ul>
              </div>
            </div>
          </div>
          <hr />

          <div class="tour-plan my-4">
            <h3 class="h2 mb-4">Tour plan</h3>
            <div class="container-lg">
              <!-- <div class="list-group">
                <a
                  *ngFor="let item of trip.tourPlan; let i = index"
                  class="list-group-item mb"
                  [ngClass]="{ 'list-group-item-striped': i % 2 === 0 }"
                >
                  {{ item }}
                </a>
              </div> -->

              <div class="outer">
                <div class="progress">
                  <div class="left">
                    <div
                      *ngFor="let item of trip.tourPlan; let i = index"
                      class="fw-semibold fs-6"
                    >
                      {{ i + 1 == trip.tourPlan.length ? "End" : "" }}
                      {{ i == 0 ? "Start" : "" }}
                    </div>
                  </div>
                  <div class="right">
                    <div
                      class="current fw-semibold"
                      *ngFor="let item of trip.tourPlan; let i = index"
                    >
                      {{ item }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<!-- <div class="booking p-4">
  <input
    type="text"
    class="form-control mb-3 p-4"
    placeholder="Where to"
  />
  <input
    type="text"
    class="form-control mb-3 p-4"
    placeholder="when"
  />

  <p-dropdown
    [options]="cities"
    [(ngModel)]="selectedCity"
    optionLabel="name"
    [showClear]="true"
    placeholder="Select a trip category"
  ></p-dropdown>
  <button
    class="booking-btn d-block mx-auto mt-3 fs-6 w-50 py-md-3 py-4 px-xl-3"
  >
    Book Now
  </button>
  <div class="text-center mt-3"></div>
</div> -->

<!-- Accourdion -->
<!-- 
<div class="accordion" id="accordionExample">
  <div class="accordion-item p-0 mb-2">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button text-muted fw-semibold"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <span class="accordion-day fw-bold">Day 1</span> Arrive
        South Africa Forest
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body text-secondary bg-light">
        <p class="fs-5">
          There are many variations of passages of available but
          majority have alteration in some by inject humour or
          random words. Lorem ipsum dolor sit amet, error insolens
          reprimique no quo, ea pri verterem phaedr vel ea iisque
          aliquam.
        </p>
        <p class="text-muted fs-5 fw-semibold">Free Drinks</p>
        <p class="text-muted fs-5 fw-semibold">Awesome Breakfast</p>
        <p class="text-muted fs-5 fw-semibold">
          5 Star Accommodation
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item mb-2 p-0">
    <h2 class="accordion-header" id="headingTwo">
      <button
        class="accordion-button text-muted fw-semibold collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        <span class="accordion-day fw-bold">Day 2</span> Lunch
        Inside of Forest & Adventure
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="headingTwo"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body text-secondary">
        <p class="fs-5">
          There are many variations of passages of available but
          majority have alteration in some by inject humour or
          random words. Lorem ipsum dolor sit amet, error insolens
          reprimique no quo, ea pri verterem phaedr vel ea iisque
          aliquam.
        </p>
        <p class="text-muted fs-5 fw-semibold">Free Drinks</p>
        <p class="text-muted fs-5 fw-semibold">Awesome Breakfast</p>
        <p class="text-muted fs-5 fw-semibold">
          5 Star Accommodation
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item mb-2 p-0">
    <h2 class="accordion-header" id="headingThree">
      <button
        class="accordion-button text-muted fw-semibold collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
      >
        <span class="accordion-day fw-bold">Day 3</span> Depart from
        South Africa
      </button>
    </h2>
    <div
      id="collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="headingThree"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body text-secondary">
        <p class="fs-5">
          There are many variations of passages of available but
          majority have alteration in some by inject humour or
          random words. Lorem ipsum dolor sit amet, error insolens
          reprimique no quo, ea pri verterem phaedr vel ea iisque
          aliquam.
        </p>
        <p class="text-muted fs-5 fw-semibold">Free Drinks</p>
        <p class="text-muted fs-5 fw-semibold">Awesome Breakfast</p>
        <p class="text-muted fs-5 fw-semibold">
          5 Star Accommodation
        </p>
      </div>
    </div>
  </div>
</div> -->

<!-- Review -->
<!-- <hr />
<div class="review my-4">
  <h3 class="h2 mb-4">Write a Review</h3>
  <div class="form">
    <div class="row">
      <div class="col-lg-7">
        <input
          type="text "
          class="form-control mb-3 p-4"
          placeholder="Your name"
        />
        <input
          type="text "
          class="form-control mb-3 p-4"
          placeholder="Email Address"
        />
      </div>
      <div class="col-lg-5">
        <div class="stars">
          <div
            class="star-group d-flex justify-content-between align-items-center mb-3"
          >
            <p class="fs-5 text-muted mb-1">Rating</p>
            <p-rating
              class="m-0 p-0"
              [(ngModel)]="value"
              [iconOnStyle]="{ color: 'red !important' }"
              [cancel]="false"
            ></p-rating>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <textarea class="w-100 form-control"></textarea>
      </div>
    </div>
  </div>
</div> -->
