@if(trip){
<p-card
  class=""
  header="{{ isTrip ? trip.name : 'Not Trip' }}"
  subheader="{{ trip.hotel?.name || trip.crusie.name }}"
  [ngStyle]="{
    width: '360px',
    color: '#ed8e7e',
    'box-shadow': 'rgba(0, 0, 0, 0.1) 5px 8px 10px 0px'
  }"
>
  <ng-template pTemplate="header">
    <div class="card-img">
      <span class="fav" (click)="toggleFavourite()">
        <i
          class="bi"
          [ngClass]="trip.isFavourite ? 'bi-heart-fill' : 'bi-heart'"
          (mouseenter)="isHovered = true"
          (mouseleave)="isHovered = false"
        >
        </i>
      </span>
      <span *ngIf="!isTrip" class="category">{{ trip.name }}</span>
      <button class="read-more" (click)="showDetails(trip._id)">
        Read More
      </button>
      <img alt="Card" src="{{ trip.imgUrl }}" />
    </div>
  </ng-template>
  <div class="card toastContainer flex justify-content-center gap-2">
    <!-- <p-toast position="top-left" key="tl"></p-toast> -->
    <p-toast position="center"   key="bc"></p-toast>
  </div>
  <div
    class="details d-flex justify-content-between align-items-end mb-4 text-dark"
  >
    <div class="price-duration">
      <p class="duration mt-3 mb-0">{{ trip.Duration }}</p>
      <p class="price mt-0 mb-0">{{ trip.price }} LE</p>
    </div>
    <div class="card flex justify-content-center stars border-0">
      <p-rating
        [(ngModel)]="trip.rate"
        [cancel]="false"
        [readonly]="true"
        class=""
      ></p-rating>
    </div>
  </div>
  <ng-template pTemplate="footer" id="footer">
    @if(isBook){

    <p-button
      label="Book"
      class="book-button"
      (onClick)="goToBookingPage(trip._id)"
    ></p-button>
    }
  </ng-template>
</p-card>
}
