@import "primeicons/primeicons.css";

.body{
    background-color: #faf5ee;
    padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
    .cover-img {
        height: 300px;
    }
}
/* Media query for smaller screens */
