<div class="container-fluid  "  >
    <img class=" w-50  " src="../../../assets/images/pic1.jpg" alt="">

<div class="form-container">
    <form class="login-form">
        <h2>Get more things done with Loggin platform</h2>
        <p>Access to the most powerful tool in the entire design and web industry.</p>
        <label for="fullname">Full Name</label>
  <input type="text" id="fullname" required>
  <label for="email">E-mail Address</label>
  <input type="email" id="email" required>
  <label for="password">Password</label>
  <input type="password" id="password" required>
  <button type="submit">Register</button>
  <p>Or register with</p>
  <a href="#" class="social-link facebook">Facebook</a>
  <a href="#" class="social-link google">Google</a>
  <a href="#" class="social-link linkedin">Linkedin</a>
</form>
</div>

</div>