<!-- <div class="containerr ">
    <div class="trips">
        <div class="caards d-flex flex-wrap gap-4  justify-content-center">
            <p-card class="" header="Cyprus" subheader="Flamingo Beach Hotel." [ngStyle]="{ width: '360px', 'color': '#ed8e7e' , 'box-shadow' : 'rgba(0, 0, 0, 0.1) 5px 8px 10px 0px' }">
                <ng-template pTemplate="header">
                    <div class="card-img">
                        <span class="fav">
                            <i class="bi"
                            [ngClass]="{'bi-heart-fill': isClicked, 'bi-heart': !isClicked, 'hovered': isHovered}"
                            (click)="toggleFavourite()"
                            (mouseenter)="isHovered = true"
                            (mouseleave)="isHovered = false">
                            </i>
                        </span>
                        <span class="category">Honeymoon</span>
                        <button class="read-more">Read More</button>
                        <img alt="Card" src="https://www.skyegtours.com/en/admin/uploaded/offers/shutterstock_2064277223-1-1-1-800x534.jpg" />
                    </div>
                </ng-template>
                <div class="details d-flex justify-content-between align-items-end mb-4 text-dark">
                    <div class="price-duration">
                        <p class="duration mt-3 mb-0">6 days / 5 nights</p>
                        <p class="price mt-0 mb-0">48180 LE</p>
                    </div>
                    <div class="card flex justify-content-center stars border-0">
                        <p-rating [(ngModel)]="value" [cancel]="false" [readonly]="true"></p-rating>
                    </div>
                </div>
                <ng-template pTemplate="footer" id="footer">
                    <p-button label="Book" class="book-button"></p-button>
                </ng-template>
            </p-card>
            <p-card class="" header="Dahab" subheader="Tropitel Dahab Oasis." [ngStyle]="{ width: '360px', 'color': '#ed8e7e' }">
                <ng-template pTemplate="header">
                    <div class="card-img">
                        <span class="fav">
                            <i class="bi"
                            [ngClass]="{'bi-heart-fill': isClicked, 'bi-heart': !isClicked, 'hovered': isHovered}"
                            (click)="toggleFavourite()"
                            (mouseenter)="isHovered = true"
                            (mouseleave)="isHovered = false">
                            </i>
                        </span>
                        <span class="category">Domestic</span>
                        <button class="read-more">Read More</button>
                        <img alt="Card" src="https://www.skyegtours.com/en/admin/uploaded/offers/39246508.jpg" />
                    </div>
                </ng-template>
                <div class="details d-flex justify-content-between align-items-end mb-4 text-dark">
                    <div class="price-duration">
                        <p class="duration mt-3 mb-0">4 days / 3 nights</p>
                        <p class="price mt-0 mb-0">2585 LE</p>
                    </div>
                    <div class="card flex justify-content-center stars border-0">
                        <p-rating [(ngModel)]="value" [cancel]="false" [readonly]="true"></p-rating>
                    </div>
                </div>
                <ng-template pTemplate="footer" id="footer">
                    <p-button label="Book" class="book-button"></p-button>
                </ng-template>
            </p-card>
            <p-card class="" header="Turkey" subheader="Istanbul Grand Oral Hotel." [ngStyle]="{ width: '360px', 'color': '#ed8e7e' }">
                <ng-template pTemplate="header">
                    <div class="card-img">
                        <span class="fav">
                            <i class="bi"
                            [ngClass]="{'bi-heart-fill': isClicked, 'bi-heart': !isClicked, 'hovered': isHovered}"
                            (click)="toggleFavourite()"
                            (mouseenter)="isHovered = true"
                            (mouseleave)="isHovered = false">
                            </i>
                        </span>
                        <span class="category">Outgoing</span>
                        <button class="read-more">Read More</button>
                        <img alt="Card" src="https://www.skyegtours.com/en/admin/uploaded/offers/Small-hotelimages-ramada-plaza-by-wyndham-antalya-3043846-1.jpg" />
                    </div>
                </ng-template>
                <div class="details d-flex justify-content-between align-items-end mb-4 text-dark">
                    <div class="price-duration">
                        <p class="duration mt-3 mb-0">6 days / 5 nights</p>
                        <p class="price mt-0 mb-0">27530 LE</p>
                    </div>
                    <div class="card flex justify-content-center stars border-0">
                        <p-rating [(ngModel)]="value" [cancel]="false" [readonly]="true"></p-rating>
                    </div>
                </div>
                <ng-template pTemplate="footer" id="footer">
                    <p-button label="Book" class="book-button"></p-button>
                </ng-template>
            </p-card>
            <p-card class="" header="Aswan to Luxor" subheader="Blue Shadow 1 Nile Cruise." [ngStyle]="{ width: '360px', 'color': '#ed8e7e' }">
                <ng-template pTemplate="header">
                    <div class="card-img">
                        <span class="fav">
                            <i class="bi"
                            [ngClass]="{'bi-heart-fill': isClicked, 'bi-heart': !isClicked, 'hovered': isHovered}"
                            (click)="toggleFavourite()"
                            (mouseenter)="isHovered = true"
                            (mouseleave)="isHovered = false">
                            </i>
                        </span>
                        <span class="category">Nile Cruise</span>
                        <button class="read-more">Read More</button>
                        <img alt="Card" src="https://www.skyegtours.com/en/admin/uploaded/offers/1512341913005131200121022522062451086763009o1min.jpg" />
                    </div>
                </ng-template>
                <div class="details d-flex justify-content-between align-items-end mb-4 text-dark">
                    <div class="price-duration">
                        <p class="duration mt-3 mb-0">4 days / 3 nights </p>
                        <p class="price mt-0 mb-0">6400 LE</p>
                    </div>
                    <div class="card flex justify-content-center stars border-0">
                        <p-rating [(ngModel)]="value" [cancel]="false" [readonly]="true"></p-rating>
                    </div>
                </div>
                <ng-template pTemplate="footer" id="footer">
                    <p-button label="Book" class="book-button"></p-button>
                </ng-template>
            </p-card>
            <p-card class="" header="Aswan" subheader="Mövenpick Resort Aswan." [ngStyle]="{ width: '360px', 'color': '#ed8e7e' }">
                <ng-template pTemplate="header">
                    <div class="card-img">
                        <span class="fav">
                            <i class="bi"
                            [ngClass]="{'bi-heart-fill': isClicked, 'bi-heart': !isClicked, 'hovered': isHovered}"
                            (click)="toggleFavourite()"
                            (mouseenter)="isHovered = true"
                            (mouseleave)="isHovered = false">
                            </i>
                        </span>
                        <span class="category">Domestic</span>
                        <button class="read-more">Read More</button>
                        <img alt="Card" src="https://www.skyegtours.com/en/admin/uploaded/offers/305316295%20(1).jpg" />
                    </div>
                </ng-template>
                <div class="details d-flex justify-content-between align-items-end mb-4 text-dark">
                    <div class="price-duration">
                        <p class="duration mt-3 mb-0">4 days / 3 nights</p>
                        <p class="price mt-0 mb-0">6975 LE</p>
                    </div>
                    <div class="card flex justify-content-center stars border-0">
                        <p-rating [(ngModel)]="value" [cancel]="false" [readonly]="true"></p-rating>
                    </div>
                </div>
                <ng-template pTemplate="footer" id="footer">
                    <p-button label="Book" class="book-button"></p-button>
                </ng-template>
            </p-card>
            <p-card class="" header="Sahl Hasheesh" subheader="Premier Le Reve." [ngStyle]="{ width: '360px', 'color': '#ed8e7e' }">
                <ng-template pTemplate="header">
                    <div class="card-img">
                        <span class="fav">
                            <i class="bi"
                            [ngClass]="{'bi-heart-fill': isClicked, 'bi-heart': !isClicked, 'hovered': isHovered}"
                            (click)="toggleFavourite()"
                            (mouseenter)="isHovered = true"
                            (mouseleave)="isHovered = false">
                            </i>
                        </span>
                        <span class="category">Honeymoon</span>
                        <button class="read-more">Read More</button>
                        <img alt="Card" src="https://www.skyegtours.com/en/admin/uploaded/offers/Cinnamon-Dhonveli-Indulge-Maldives-Romantic-Dinner.jpg" />
                    </div>
                </ng-template>
                <div class="details d-flex justify-content-between align-items-end mb-4 text-dark">
                    <div class="price-duration">
                        <p class="duration mt-3 mb-0">4 days / 3 nights</p>
                        <p class="price mt-0 mb-0">23520 LE</p>
                    </div>
                    <div class="card flex justify-content-center stars border-0">
                        <p-rating [(ngModel)]="value" [cancel]="false" [readonly]="true"></p-rating>
                    </div>
                </div>
                <ng-template pTemplate="footer" id="footer">
                    <p-button label="Book" class="book-button"></p-button>
                </ng-template>
            </p-card>
            <p-card class="" header="Thailand" subheader="Phuket Sawaddi Patong Resort & Spa." [ngStyle]="{ width: '360px', 'color': '#ed8e7e' }">
                <ng-template pTemplate="header">
                    <div class="card-img">
                        <span class="fav">
                            <i class="bi"
                            [ngClass]="{'bi-heart-fill': isClicked, 'bi-heart': !isClicked, 'hovered': isHovered}"
                            (click)="toggleFavourite()"
                            (mouseenter)="isHovered = true"
                            (mouseleave)="isHovered = false">
                            </i>
                        </span>
                        <span class="category">Outgoing</span>
                        <button class="read-more">Read More</button>
                        <img alt="Card" src="https://www.skyegtours.com/en/admin/uploaded/offers/336699919.jpg" />
                    </div>
                </ng-template>
                <div class="details d-flex justify-content-between align-items-end mb-4 text-dark">
                    <div class="price-duration">
                        <p class="duration mt-3 mb-0">6 days / 5 nights</p>
                        <p class="price mt-0 mb-0">47689 LE</p>
                    </div>
                    <div class="card flex justify-content-center stars border-0">
                        <p-rating [(ngModel)]="value" [cancel]="false" [readonly]="true"></p-rating>
                    </div>
                </div>
                <ng-template pTemplate="footer" id="footer">
                    <p-button label="Book" class="book-button"></p-button>
                </ng-template>
            </p-card>
            <p-card class="" header="Malaysia" subheader="ibis Kuala Lumpur City Centre." [ngStyle]="{ width: '360px', 'color': '#ed8e7e' }">
                <ng-template pTemplate="header">
                    <div class="card-img">
                        <span class="fav">
                            <i class="bi"
                            [ngClass]="{'bi-heart-fill': isClicked, 'bi-heart': !isClicked, 'hovered': isHovered}"
                            (click)="toggleFavourite()"
                            (mouseenter)="isHovered = true"
                            (mouseleave)="isHovered = false">
                            </i>
                        </span>
                        <span class="category">Outgoing</span>
                        <button class="read-more">Read More</button>
                        <img alt="Card" src="https://www.skyegtours.com/en/admin/uploaded/offers/8732_ho_00_p_1024x768.jpg" />
                    </div>
                </ng-template>
                <div class="details d-flex justify-content-between align-items-end mb-4 text-dark">
                    <div class="price-duration">
                        <p class="duration mt-3 mb-0">6 days / 5 nights</p>
                        <p class="price mt-0 mb-0">35080 LE</p>
                    </div>
                    <div class="card flex justify-content-center stars border-0">
                        <p-rating [(ngModel)]="value" [cancel]="false" [readonly]="true"></p-rating>
                    </div>
                </div>
                <ng-template pTemplate="footer" id="footer">
                    <p-button label="Book" class="book-button"></p-button>
                </ng-template>
            </p-card>
            <p-card class="" header="El gouna" subheader="Panorama Bungalows El Gouna Resort." [ngStyle]="{ width: '360px', 'color': '#ed8e7e' }">
                <ng-template pTemplate="header">
                    <div class="card-img">
                        <span class="fav">
                            <i class="bi"
                            [ngClass]="{'bi-heart-fill': isClicked, 'bi-heart': !isClicked, 'hovered': isHovered}"
                            (click)="toggleFavourite()"
                            (mouseenter)="isHovered = true"
                            (mouseleave)="isHovered = false">
                            </i>
                        </span>
                        <span class="category">Domestic</span>
                        <button class="read-more">Read More</button>
                        <img alt="Card" src="https://www.skyegtours.com/en/admin/uploaded/offers/327152035.jpg" />
                    </div>
                </ng-template>
                <div class="details d-flex justify-content-between align-items-end mb-4 text-dark">
                    <div class="price-duration">
                        <p class="duration mt-3 mb-0">4 days / 3 nights</p>
                        <p class="price mt-0 mb-0">3965 LE</p>
                    </div>
                    <div class="card flex justify-content-center stars border-0">
                        <p-rating [(ngModel)]="value" [cancel]="false" [readonly]="true"></p-rating>
                    </div>
                </div>
                <ng-template pTemplate="footer" id="footer">
                    <p-button label="Book" class="book-button"></p-button>
                </ng-template>
            </p-card>

        </div>
        <button class="load-more">Load More</button>
    </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="item">
        <p-card
          class=""
          header="Cyprus"
          subheader="Flamingo Beach Hotel."
          [ngStyle]="{
            width: '360px',
            color: '#ed8e7e',
            'box-shadow': 'rgba(0, 0, 0, 0.1) 5px 8px 10px 0px'
          }"
        >
          <ng-template pTemplate="header">
            <div class="card-img">
              <span class="fav">
                <i
                  class="bi"
                  [ngClass]="{
                    'bi-heart-fill': isClicked,
                    'bi-heart': !isClicked,
                    hovered: isHovered
                  }"
                  (click)="toggleFavourite()"
                  (mouseenter)="isHovered = true"
                  (mouseleave)="isHovered = false"
                >
                </i>
              </span>
              <span class="category">Honeymoon</span>
              <button class="read-more">Read More</button>
              <img
                alt="Card"
                src="https://www.skyegtours.com/en/admin/uploaded/offers/shutterstock_2064277223-1-1-1-800x534.jpg"
              />
            </div>
          </ng-template>
          <div
            class="details d-flex justify-content-between align-items-end mb-4 text-dark"
          >
            <div class="price-duration">
              <p class="duration mt-3 mb-0">6 days / 5 nights</p>
              <p class="price mt-0 mb-0">48180 LE</p>
            </div>
            <div class="card flex justify-content-center stars border-0">
              <p-rating
                [(ngModel)]="value"
                [cancel]="false"
                [readonly]="true"
              ></p-rating>
            </div>
          </div>
          <ng-template pTemplate="footer" id="footer">
            <p-button label="Book" class="book-button"></p-button>
          </ng-template>
        </p-card>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <p-card
          class=""
          header="Cyprus"
          subheader="Flamingo Beach Hotel."
          [ngStyle]="{
            width: '360px',
            color: '#ed8e7e',
            'box-shadow': 'rgba(0, 0, 0, 0.1) 5px 8px 10px 0px'
          }"
        >
          <ng-template pTemplate="header">
            <div class="card-img">
              <span class="fav">
                <i
                  class="bi"
                  [ngClass]="{
                    'bi-heart-fill': isClicked,
                    'bi-heart': !isClicked,
                    hovered: isHovered
                  }"
                  (click)="toggleFavourite()"
                  (mouseenter)="isHovered = true"
                  (mouseleave)="isHovered = false"
                >
                </i>
              </span>
              <span class="category">Honeymoon</span>
              <button class="read-more">Read More</button>
              <img
                alt="Card"
                src="https://www.skyegtours.com/en/admin/uploaded/offers/shutterstock_2064277223-1-1-1-800x534.jpg"
              />
            </div>
          </ng-template>
          <div
            class="details d-flex justify-content-between align-items-end mb-4 text-dark"
          >
            <div class="price-duration">
              <p class="duration mt-3 mb-0">6 days / 5 nights</p>
              <p class="price mt-0 mb-0">48180 LE</p>
            </div>
            <div class="card flex justify-content-center stars border-0">
              <p-rating
                [(ngModel)]="value"
                [cancel]="false"
                [readonly]="true"
              ></p-rating>
            </div>
          </div>
          <ng-template pTemplate="footer" id="footer">
            <p-button label="Book" class="book-button"></p-button>
          </ng-template>
        </p-card>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <p-card
          class=""
          header="Cyprus"
          subheader="Flamingo Beach Hotel."
          [ngStyle]="{
            width: '360px',
            color: '#ed8e7e',
            'box-shadow': 'rgba(0, 0, 0, 0.1) 5px 8px 10px 0px'
          }"
        >
          <ng-template pTemplate="header">
            <div class="card-img">
              <span class="fav">
                <i
                  class="bi"
                  [ngClass]="{
                    'bi-heart-fill': isClicked,
                    'bi-heart': !isClicked,
                    hovered: isHovered
                  }"
                  (click)="toggleFavourite()"
                  (mouseenter)="isHovered = true"
                  (mouseleave)="isHovered = false"
                >
                </i>
              </span>
              <span class="category">Honeymoon</span>
              <button class="read-more">Read More</button>
              <img
                alt="Card"
                src="https://www.skyegtours.com/en/admin/uploaded/offers/shutterstock_2064277223-1-1-1-800x534.jpg"
              />
            </div>
          </ng-template>
          <div
            class="details d-flex justify-content-between align-items-end mb-4 text-dark"
          >
            <div class="price-duration">
              <p class="duration mt-3 mb-0">6 days / 5 nights</p>
              <p class="price mt-0 mb-0">48180 LE</p>
            </div>
            <div class="card flex justify-content-center stars border-0">
              <p-rating
                [(ngModel)]="value"
                [cancel]="false"
                [readonly]="true"
              ></p-rating>
            </div>
          </div>
          <ng-template pTemplate="footer" id="footer">
            <p-button label="Book" class="book-button"></p-button>
          </ng-template>
        </p-card>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <p-card
          class=""
          header="Cyprus"
          subheader="Flamingo Beach Hotel."
          [ngStyle]="{
            width: '360px',
            color: '#ed8e7e',
            'box-shadow': 'rgba(0, 0, 0, 0.1) 5px 8px 10px 0px'
          }"
        >
          <ng-template pTemplate="header">
            <div class="card-img">
              <span class="fav">
                <i
                  class="bi"
                  [ngClass]="{
                    'bi-heart-fill': isClicked,
                    'bi-heart': !isClicked,
                    hovered: isHovered
                  }"
                  (click)="toggleFavourite()"
                  (mouseenter)="isHovered = true"
                  (mouseleave)="isHovered = false"
                >
                </i>
              </span>
              <span class="category">Honeymoon</span>
              <button class="read-more">Read More</button>
              <img
                alt="Card"
                src="https://www.skyegtours.com/en/admin/uploaded/offers/shutterstock_2064277223-1-1-1-800x534.jpg"
              />
            </div>
          </ng-template>
          <div
            class="details d-flex justify-content-between align-items-end mb-4 text-dark"
          >
            <div class="price-duration">
              <p class="duration mt-3 mb-0">6 days / 5 nights</p>
              <p class="price mt-0 mb-0">48180 LE</p>
            </div>
            <div class="card flex justify-content-center stars border-0">
              <p-rating
                [(ngModel)]="value"
                [cancel]="false"
                [readonly]="true"
              ></p-rating>
            </div>
          </div>
          <ng-template pTemplate="footer" id="footer">
            <p-button label="Book" class="book-button"></p-button>
          </ng-template>
        </p-card>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <p-card
          class=""
          header="Cyprus"
          subheader="Flamingo Beach Hotel."
          [ngStyle]="{
            width: '360px',
            color: '#ed8e7e',
            'box-shadow': 'rgba(0, 0, 0, 0.1) 5px 8px 10px 0px'
          }"
        >
          <ng-template pTemplate="header">
            <div class="card-img">
              <span class="fav">
                <i
                  class="bi"
                  [ngClass]="{
                    'bi-heart-fill': isClicked,
                    'bi-heart': !isClicked,
                    hovered: isHovered
                  }"
                  (click)="toggleFavourite()"
                  (mouseenter)="isHovered = true"
                  (mouseleave)="isHovered = false"
                >
                </i>
              </span>
              <span class="category">Honeymoon</span>
              <button class="read-more">Read More</button>
              <img
                alt="Card"
                src="https://www.skyegtours.com/en/admin/uploaded/offers/shutterstock_2064277223-1-1-1-800x534.jpg"
              />
            </div>
          </ng-template>
          <div
            class="details d-flex justify-content-between align-items-end mb-4 text-dark"
          >
            <div class="price-duration">
              <p class="duration mt-3 mb-0">6 days / 5 nights</p>
              <p class="price mt-0 mb-0">48180 LE</p>
            </div>
            <div class="card flex justify-content-center stars border-0">
              <p-rating
                [(ngModel)]="value"
                [cancel]="false"
                [readonly]="true"
              ></p-rating>
            </div>
          </div>
          <ng-template pTemplate="footer" id="footer">
            <p-button label="Book" class="book-button"></p-button>
          </ng-template>
        </p-card>
      </div>
    </div>
    <div class="col-md-4">
      <div class="item">
        <p-card
          class=""
          header="Cyprus"
          subheader="Flamingo Beach Hotel."
          [ngStyle]="{
            width: '360px',
            color: '#ed8e7e',
            'box-shadow': 'rgba(0, 0, 0, 0.1) 5px 8px 10px 0px'
          }"
        >
          <ng-template pTemplate="header">
            <div class="card-img">
              <span class="fav">
                <i
                  class="bi"
                  [ngClass]="{
                    'bi-heart-fill': isClicked,
                    'bi-heart': !isClicked,
                    hovered: isHovered
                  }"
                  (click)="toggleFavourite()"
                  (mouseenter)="isHovered = true"
                  (mouseleave)="isHovered = false"
                >
                </i>
              </span>
              <span class="category">Honeymoon</span>
              <button class="read-more">Read More</button>
              <img
                alt="Card"
                src="https://www.skyegtours.com/en/admin/uploaded/offers/shutterstock_2064277223-1-1-1-800x534.jpg"
              />
            </div>
          </ng-template>
          <div
            class="details d-flex justify-content-between align-items-end mb-4 text-dark"
          >
            <div class="price-duration">
              <p class="duration mt-3 mb-0">6 days / 5 nights</p>
              <p class="price mt-0 mb-0">48180 LE</p>
            </div>
            <div class="card flex justify-content-center stars border-0">
              <p-rating
                [(ngModel)]="value"
                [cancel]="false"
                [readonly]="true"
              ></p-rating>
            </div>
          </div>
          <ng-template pTemplate="footer" id="footer">
            <p-button label="Book" class="book-button"></p-button>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</div>
