@if(trips) {

<div class="container-lg tours">
  <div class="row px-0">

    @for (item of displayedTrips | filter:searchTerm:category; track $index) {


    <div class="col-sm-6 col-md-4 p-3">
      <div class="item">
        <app-card [trip]="item" [isTrip]="true"></app-card>
      </div>
    </div>
    }@empty {

    <div class="container-lg">
      <div class="row px-0">
        <div class="col-12 text-center d-flex flex-column p-5">
          <i class="bi bi-heartbreak fs-1 color-main"></i>
          <p class="fs-4 fw-semibold color-title">No trips with this name</p>
        </div>
      </div>
    </div>
    }
  </div>
  <!-- @if(currentPage < totalPages) {

  <div class="my-3 text-center" (click)="loadNextPage()">
    <p-button label="Show More" class="book-button"></p-button>
  </div>
  } -->
  <div class="card flex justify-content-center">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="[10, 20, 30]"
    ></p-paginator>
  </div>
</div>

}@else {
<div class="container-lg">
  <div class="row px-0">
    <div class="col-12 text-center d-flex flex-column p-5">
      <div class="spinner-border color-main m-auto p-3" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <p class="fs-3 fw-semibold color-title">Loading....</p>
    </div>
  </div>
</div>
}
