<div class="container-fluid container_all d-flex justify-content-center   vh-100   ">
    <div class="row">
        <div class="center  col-12  ">
            <div class="logos text-center d-flex align-items-center justify-content-center  gap-3 col-12 ">
                <img alt="Credit visaLogo " title="Credit Card Logos" src="../../../assets/images/logos/visa.png" width="60" height="auto"/>
                <img alt="Credit masterLogo" title="Credit Card Logos" src="../../../assets/images/logos/masterCard.png" width="50" height="auto"/>
                <img alt="Credit payoalLogo" title="Credit Card Logos" src="../../../assets/images/logos/paypal.png" width="90" height="auto"/>
            </div>
            <hr class="col-12 " style="border:1px solid #ccc;">
    
    
    </div>
        <div class="row  col-12   ">

            <div id="myPaymentButtons" ></div>
            
        </div>

    </div>
    </div>