<div class="call_section">
  <div class="container clearfix">
    <div
      class="col-lg-6 col-md-6 float-start position-relative animated gap-2 d-flex flex-column"
    >
      <div>
        <div>
          <div>
            <span></span>
          </div>
        </div>
      </div>
      <div>
        <h6>HOLIDAY PACKAGE OFFER</h6>
      </div>
      <div>
        <h1>HOLIDAY SPECIAL 25% OFF !</h1>
      </div>
      <div>
        <h5>
          Sign up now to receive hot special offers and information about the
          best tour packages, updates, and discounts!
        </h5>
      </div>
      <div>
        <form method="post" name="New Form">
          <div class="row flex-wrap my-5" style="height: 50px">
            <input
              type="email"
              name="form_fields[email]"
              placeholder="Your Email Address.."
              required="required"
              class="col-4"
              style="width: 70%"
            />
            <button class="col-3" type="submit">SIGN UP NOW!</button>
          </div>
        </form>
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Eaque
          adipiscing, luctus eleifend temporibus occaecat luctus eleifend
          temporibus.
        </p>
      </div>
    </div>
  </div>
</div>
