.container-fluid{
    background-image: url('/assets/images/error.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: end;
  
}
button{

margin-bottom: 150px;
background-color: #160a56;
}
button:hover{
    background-color: #01e180;
}
