* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}
:root {
  --main-color: #ed8e7e;
  --main-color-hover: rgb(232, 159, 148);
  --bg-primary-color: #fff;
  --bg-secondary-color: #faf5ee;
  --dark-grey-color: #595a5a;
  --grey-color: #5b5a65;
  --thm-black: #313041;
}
